:root {
    --red: #a20301;
    --orange: #ea3a21;
    --yellow: #ebcd0b;
    --green: rgb(19, 187, 19);
    --blue: #0e387a;
    --blue-fade: #0e387a77;
    --gray: #9fafca;
    --black: #012;
    --white: #fee;
    --text-color: var(--black);
    --background-color: var(--white);
    --main-color: var(--white);
    --accent-color: var(--gray);
    --transparent: #0000;
    --scrollbar-background: var(--background-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: var(--white);
        --background-color: var(--black);
        --border-color: #123;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: var(--black);
        --background-color: var(--white);
        --border-color: #edd;
    }
}

html[theme='light'] {
    --text-color: var(--black);
    --background-color: var(--white);
    --border-color: #edd;
}

html[theme='dark'] {
    --text-color: var(--white);
    --background-color: var(--black);
    --border-color: #123;
}

html {
    transition: background-color 100ms linear;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
        Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    color: var(--text-color);
    transition: color 150ms ease-in-out !important;
    text-decoration: none;
}

a:hover {
    color: dodgerblue;
}

small,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif
}

p {
    font-family: 'IBM Plex Sans';
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}