@font-face {
    font-family: 'Inter';
    src: local('Inter'), url(Inter-Regular.woff2) format('woff2');
}

:root {
    --red: #a20301;
    --orange: #ea3a21;
    --yellow: #ebcd0b;
    --green: rgb(19, 187, 19);
    --blue: #0e387a;
    --blue-fade: #0e387a77;
    --gray: #9fafca;
    --black: #181514;
    --white: #d9d8e4;
    --text-color: #181514;
    --main-color: var(--white);
    --accent-color: var(--gray);
    --background: var(--main-color);
    --transparent: #0000;
    --scrollbar-background: var(--background);
}

html {
    min-height: 100vh;
    text-overflow: ellipsis;
    transition-property: background-color;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
	Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: var(--text-color);
}

body {
    height: 100%;
    background-color: var(--background);
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'IBM Plex Sans';
}
h1 {
    font-size: 4rem;
}

p {
    line-height: 2rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: var(--white);
        --background: var(--black);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --text-color: var(--black);
        --background: var(--white);
    }
}